.writing-container {
  text-align: center;
  margin-top: 0px;
}

.writing-header {
  font-size: 5rem;
  color: #fff;
}

.writing-subtext {
  font-size: 2.5rem;
  color: #ccc;
}

.highlight {
  color: #9587ed;
}

@media (max-width: 768px) {
  .writing-header {
    font-size: 3.75rem;
  }

  .writing-subtext {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .writing-header {
    font-size: 3.25rem;
  }

  .writing-subtext {
    font-size: 2rem;
  }
}

