/* Weather Container */
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.weather-container h1 {

  /* FONT */
  font-family: 'Sequel', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 36px;
  color: hsl(215, 7%, 24%);
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Weather Chart */
.weather-chart {
  width: 100%; /* Make the chart responsive */
  max-width: 800px;
  margin-bottom: 20px;
}


.dark .weather-container h1 {
  color: hsl(215, 7%, 95%);
}

@media (max-width: 768px) {
  .weather-chart {
    width: 90%; /* Shrink the chart slightly for smaller screens */
  }
}

/* Forecast Grid */
.forecast-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
}

/* Card Styles */
/* .card { */
/*   display: grid; */
/*   grid-template-columns: 300px; */
/*   grid-template-rows: 310px 110px 80px; */
/*   grid-template-areas: "image" "text" "stats"; */
/**/
/*   border-radius: 18px; */
/*   background-color: #9c1112; */
/*   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); */
/*   text-align: center; */
/**/
/*   margin: 20px auto; */
/*   max-width: 300px; */
/*   transition: 0.5s ease; */
/*   cursor: pointer; */
/*   transform-style: preserve-3d; */
/*   transform: perspective(1000px); */
/*   position: relative; */
/*   z-index: 1; */
/* } */
/**/
/* .card-image { */
/*   border-top-left-radius: 15px; */
/*   border-top-right-radius: 15px; */
/*   background-size: cover; */
/* } */

/* Card Text */
.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(15px) translateY(0px);
  transition: transform 0.2s ease-out;
  will-change: transform;
}
/* Hover Effects */
.card:hover {
  transform: scale(1.09);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

/* .card.blurred { */
/*   filter: blur(5px) grayscale(100%); */
/*   pointer-events: none; */
/*   transition: filter 0.3s ease-in-out; */
/* } */


/* Adjustments for Mobile Screens */
@media (max-width: 768px) {
  .forecast-grid .card {
    grid-template-columns: 175px;
    grid-template-rows: 175px 175px 60px;
    max-width: 175px;
    margin: 0px; /* Reduce margin */
  }

  .forecast-grid .card-image {
    height: 200px; /* Smaller image height */
  }
  .forecast-grid .card-text .date{
    margin-top: -10px;
    margin-bottom: -3px;
    height: 22px;
  }


  .forecast-grid .card-text h2 {
    font-size: 14px; /* Smaller title font */
  }

  .forecast-grid .card-text p {
    font-size: 14px; /* Smaller text font */
  }
}

