.fourpanels {
  position: relative;
  display: grid;
  grid-auto-rows: 1fr;
  gap: 20px;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  z-index: 0;
  margin: 1.9rem;
}
.panel1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 225px;
}

.panel2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 100px;
}

.panel3 {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.gradient-mask-four {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  overflow: hidden;
}

.gradient-mask-four::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    220deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  mix-blend-mode: normal;
  z-index: 2;
  border-radius: inherit;
}

.dark .gradient-mask-four::after {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

