.divider-container {
  text-align: center;
  padding: 10px 0;
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly below */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth fade-in and move-up */
}

.divider-container.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}

.divider-content {
  display: inline-block;
  border-bottom: 2px solid #7f69d6;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 40px;
}

.divider-content h1 {
  color: #fff;
  font-size: 5rem;
  margin-top: 100px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .divider-container {
    margin: 20px auto;
  }

  .divider-content h1 {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .divider-container {
    margin: 10px auto;
  }

  .divider-content h1 {
    font-size: 3rem;
  }
}

