.weather-container {
  padding: 20px;
  text-align: center;
}
.weather-container h1{
  color: #d9dadb;
}

.forecast-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.weather-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

