.circle-image-heading-container {
  display: flex;
  flex-direction: row; /* Default to row for larger screens */
  align-items: center;
  gap: 20px;
  margin: 50px; /* Reduce margins for better scaling on smaller screens */
}

.circle-image {
  flex-shrink: 0;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-content {
  flex: 1;
}

/* .text-content h1 { */
/*   font-size: 2.5rem;  */
/*   margin: 0 0 10px; */
/*   color: #fff;  */
/*   text-align: center;  */
/* } */

.text-content p {
  font-size: 1.3rem; 
  line-height: 1.4;
  color: #fff; 
  text-align: center; 
}

@media (max-width: 768px) {
  .circle-image-heading-container {
    flex-direction: column; 
    text-align: center;
    margin: 20px;
  }

  .circle-image {
    width: 14rem; 
    height: 14rem;
  }

  /* .text-content h1 { */
  /*   font-size: 1.7rem; */
  /*   text-align: center; */
  /* } */

  .text-content p {
    font-size: 1.5rem; 
  }
}


@media (max-width: 480px) {
  .circle-image-heading-container {
    margin: 10px;
    gap: 15px;
  }

  .circle-image {
    width: 12rem;
    height: 12rem;
  }

  /* .text-content h1 { */
  /*   font-size: 1.5rem; */
  /* } */

  .text-content p {
    font-size: 1.2rem;
  }
}

