.date-selector-container {
  text-align: center;
  margin: 50px auto; 
}
.date-selector-heading {
  font-family: 'Sequel', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: hsl(220, 5%, 24%);
  margin-bottom: 20px;
}
.date-selector-subheading {
  font-family: 'Sequel', sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: hsl(215, 7%, 65%);
  margin-bottom: 10px; 
}
.date-selector {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  justify-content: center;
  scroll-snap-type: x mandatory; 
}
.date-selector > * {
  scroll-snap-align: center;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.tag {
  font-family: 'SF Pro Display', sans-serif;
  height: 16px;
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(215, 7%, 70%);
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Frosted glass blur */
  background-color: rgba(0, 0, 10, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  padding: 20px;
  border-radius: 18px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.popup.show {
  visibility: visible;
  animation: fadeIn 0.5s ease forwards;
}
.popup.hide {
  animation: fadeOut 0.5s ease forwards;
}
.popup p {
  font-family: 'Sequel', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: hsl(215, 7%, 70%);
}

.popup button {
  /* FONT */
  font-family: 'SF Pro Display', sans-serif;
  color: hsl(215, 7%, 70%);
  font-size: 1.5rem;
  font-weight: 300;
  background-color: rgba(0, 0, 10, 0.3);

  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popup button:hover {
  background-color: rgba(0, 0, 10, 0.6);
}
.shuffle-button {
  /* FONT */
  font-family: 'Sequel', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 36px;
  color: hsl(215, 7%, 70%);
  
  /* FROSTED GLASS */
  background-color: rgba(0, 0, 10, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);



  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  transition: background-color 0.3s ease;
  transition: color 0.2s ease;
}

.shuffle-button:hover {
  color: hsl(215,7%,80%);
  /* background-color: rgba(0, 0, 10, 0.9); */
}

.shuffle-button.disabled {
  /* background-color: #555; */
  cursor: not-allowed;
}
.tag-filter {
  font-family: 'Sequel', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 36px;
  color: hsl(215, 7%, 70%);
  text-align: center;

  /* FROSTED GLASS */
  background-color: rgba(0, 0, 10, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  appearance: none; /* Remove default dropdown styles for consistency */
  cursor: pointer;

  transition: background-color 0.3s ease;
  transition: color 0.2s ease;
}

.tag-filter:hover {
  color: hsl(215,7%,80%);
}

.tag-filter:focus {
  outline: none;
}

.tag-filter option {
  background-color: rgba(0, 0, 10, 0.6);
  color: hsl(215, 7%, 70%);
}
.notification {
  /* Font */
  font-family: 'SF Pro Display', sans-serif;
  color: hsl(215, 7%, 70%);
  background-color: hsl(215, 7%, 0%);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 36px;


  /* Frosted Glass Blur */
  background-color: rgba(0, 0, 10, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  position: fixed;
  bottom: 10%; /* Position it 25% from the bottom */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust for the element's width */

  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out; /* Apply fade-in-out animation */
  opacity: 0; /* Start hidden */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, 30%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 25%);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 25%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 30%);
  }
}

/* DARKMODE */
.dark .date-selector-heading {
  color: hsl(220, 5%, 76%);
}

.date-selector-subheading {
  color: hsl(215, 7%, 35%);
}

.dark .popup {
  /* Frosted glass blur */
  background-color: rgba(255, 255, 245, 0.6);
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
}

.dark .popup p {
  color: hsl(215, 7%, 30%);
}

.dark .popup button {
  color: hsl(215, 7%, 30%);
  background-color: rgba(255, 255, 245, 0.3);
}
.dark .popup button:hover {
  background-color: rgba(255, 255, 245, 0.6);
}

.dark .shuffle-button {
  color: hsl(215, 7%, 30%);
  background-color: rgba(255, 255, 245, 0.6);
}
.dark .shuffle-button:hover {
  color: hsl(215,7%,20%);
}

.dark .tag-filter {
  color: hsl(215, 7%, 30%);
  /* FROSTED GLASS */
  background-color: rgba(255, 255, 245, 0.6);
}

.dark .tag-filter:hover {
  color: hsl(215,7%,20%);
}

.dark .tag-filter option {
  background-color: rgba(255, 255, 245, 0.6);
  color: hsl(215, 7%, 30%);
}

.dark .notification {
  color: hsl(215, 7%, 30%);
  background-color: rgba(255, 255, 245, 0.6);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
}

.dark .date-selector .card-text .description {
  color: hsl(215, 7%, 15%);
}

/* .dark .tag { */
  /* background-color: hsl(0, 0%, 92%); */
  /* color: hsl(215, 7%, 30%); */
/* } */

/* MOBILE */
@media (max-width: 800px) {
  .date-selector .card-text h2 {
    font-size: 22px; /* Smaller title font */

  }
  .date-selector .card {
    grid-template-columns: 28vw;
    grid-template-rows: 150px 15vw 100px;
  }
}


@media (max-width: 768px) {
  .date-selector {
    max-width: 100%;
    overflow-x: hidden;
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .date-selector .card {
    grid-template-columns: 28vw;
    grid-template-rows: 150px 13vw 125px;
    max-width: 100%;
    width: 28vw;
    margin: 0px; /* Reduce margin */
  }

  .date-selector-container .card-image {
    height: 20vh; /* Smaller image height */
  }
  .date-selector-container .date {
    margin-top: -5px;
    padding-bottom: 12px;
    margin-bottom: 0px;
    margin-left: -23px;
    margin-right: -23px;
    height: 22px;
    border-radius: 14px;
  }

  .date-selector .card-text h2 {
    letter-spacing: -0.28px;
    font-size: 20px; /* Smaller title font */

  }
  .date-selector .card:hover {
    transform: scale(1.01);
  }
  .date-selector .card-text .description {
    text-align: start; 
    font-size: 0.8rem; /* Smaller text font */
    padding: 0;
  }
 .shuffle-button {
    width: 58%; /* Full width button */
    font-size: 1.2rem; /* Adjust font size for better readability */
    margin: 0px; /* Add some vertical spacing */
    margin-right: 10px;
  }

  .popup {
    width: 80%; /* Adjust the popup size */
    font-size: 14px; /* Adjust the text size */
  }

  .popup button {
    width: 30%; /* Full width buttons for mobile */
    margin: 5px 5px; /* Add spacing between buttons */
  }
  .card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: -20px;
  }

  .tag {
    height: 16px;
    padding: 2px 2px;
    font-size: 12px;
    border-radius: 12px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 5px;
  }
}


@media (max-width: 600px) {
  .date-selector .card {
    grid-template-columns: 28vw;
    grid-template-rows: 150px 15vw 185px;
    max-width: 100%;
    width: 28vw;
    margin: 0px; /* Reduce margin */
  }
}

@media (max-width: 500px) {
  .date-selector .card-text h2 {
    font-size: 15px; /* Smaller title font */

  }
  .date-selector .card {
    grid-template-columns: 28vw;
    grid-template-rows: 130px 25vw 240px;
    max-width: 100%;
    width: 28vw;
    margin: 0px; /* Reduce margin */
  }
  .tag {
    height: 14px;
    padding: 3px 5px;
  }

}
