.box {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: #9c1112;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.box-image {
  background-size: cover;
  background-position: center;
}

.box-text {
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title h2 {
  margin: 0;
  font-size: 1.2rem;
}

