.slider-container {
  margin-bottom: 50px;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Slide in from below */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slider-container.fade-in {
  opacity: 1;
  transform: translateY(0); /* Reset to visible */
}

.slider-container.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

.slider-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.slider {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
  perspective: 1000px;
}

.item {
  position: absolute;
  width: 320px;
  height: 320px;
  text-align: justify;
  background-color: #7f69d6;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 177px);
  top: 0;
}

#next,
#prev {
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-size: 4rem;
  font-family: monospace;
  font-weight: bold;
  left: 19%;
}

#next {
  left: unset;
  right: 19%;
}

@media (max-width: 768px) {
  #prev {
    opacity: 0;
  }

  #next {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  #prev {
    opacity: 0;
  }

  #next {
    opacity: 0;
  }
}

