.footer-container {
  text-align: center;
  padding: 10px 0;
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly below */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth fade-in and move-up */
}

.footer-container.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}

.footer-content {
  display: inline-block;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.footer-content p {
  color: #f8f8f8;
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .footer-container {
    margin: 20px auto;
  }

  .footer-content p{
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .footer-container {
    margin: 10px auto;
  }

  .footer-content p{
    font-size: 0.75rem;
  }
}

