
.date-selector-container {
  text-align: center; /* Center the heading and cards */
  margin: 20px auto; /* Add spacing around the container */
}
.date-selector-heading {
  font-size: 2rem;
  font-weight: bold;
  color: white; 
  margin-bottom: 20px;
}
.date-selector-subheading {
  font-size: 1 rem; 
  font-weight: 100;
  color: #bdbebf; 
  margin-bottom: 0px; 
}
.date-selector {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  justify-content: center;
  scroll-snap-type: x mandatory; /* Optional for snapping effect */
}
.date-selector > * {
  scroll-snap-align: center; /* Snaps each card into view */
}
@media (max-width: 768px) {
  .date-selector {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center the cards */
  }
}
