html {
  height: 100%; /* Ensures the html element spans the full height of the page */
  background-image: linear-gradient(to top right, #0ce605, #5540d8, #9c1112, #323177, #3d3191, #5540d8);
  /* background-image: linear-gradient(to top right, #5540d8, #3d3191, #323177, #9c1112, #323177, #9c1112); */
  background-attachment: fixed;
  /* background-size: cover;  */
  background-size: 400% 400%; 
  /* background-repeat: no-repeat;  */
  animation: bg 12s ease infinite;
}
@keyframes bg{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0% 50%;
  }
}

body {
  height: 100vh; /* Ensures the body spans the same height as html */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  box-sizing: border-box;
  background: transparent; /* Allows the html gradient to show through */
}
/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #9c0012;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Smooth transition for hiding and showing */
}

.header.hidden {
  transform: translateY(-100%); /* Move header out of view */
}

.header.visible {
  transform: translateY(0); /* Bring header back into view */
}

.header-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

.header-nav-link {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.header-nav-link:hover {
  background-color: #840a0b;
  color: #fff;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show the hamburger menu on mobile */
  }

  .header-nav {
    display: flex;
    gap: 15px;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, visibility 0s;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #9c0012;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  .header-nav.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .header-nav-link {
    text-align: center;
    padding: 15px;
  }
}
/* CardSlider CSS*/
.slider-container {
  margin-bottom: 50px;
  text-align: center;
}

.slider-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.slider {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
  perspective: 1000px;
}
.item {
  position: absolute;
  width: 320px;
  height: 320px;
  text-align: justify;
  background-color: #9c1112;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 177px);
  top: 0;
}
#next,#prev {
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 50px;
}
#next {
  left: unset;
  right: 50px;
}

/* Card3D  */

